/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Apr-2020, 00:10:52
    Author     : Fatima
*/



.header {
   padding:80px;
       text-align: center;
       background: black;
       color: white;
}
body {
   
   padding: 15px 20px;
   font: verdana, sans-serif;
   background-colour: white;
}

header>h1 {
   text-align: center;
}
form {
width: 250px;
height: 250px;
margin: left;
position: relative;
background: whitesmoke;
text-align: center;
}


.search{
position: relative;
/*padding: 30;*/
}
